.card {
	/* width: 300px;
	height: 250px; */
	cursor: pointer;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	/* transform-style: preserve-3d; */
	transition: transform 0.5s; /* 回転のアニメーション*/
}

.card.is-flipped .card-inner {
	transform: rotateX(180deg); /*クリックされると回転*/
}

.card-element {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 24px;
	transition: box-shadow 0.3s ease-in-out;
}

.card-front-element {
	font-weight: bold;
}
.card-element.is-flipped {
	position: relative;
}
.card-back-element {
	transform: rotateX(180deg); /*カードが回転して逆になるから、裏面の要素は回転された状態に*/
}
